[Desktop Entry]
Version="MATLAB Version Here"
Type=Application
Terminal=false
Exec="Executable Path Here" 
Name=MATLAB "MATLAB Version Here"
Icon="Icon Path Here"
Categories=Development;Math;Science
Comment=Scientific computing environment
StartupNotify=true
StartupWMClass=MATLAB "MATLAB Version Here" - academic use
